{% extends 'base.html.twig' %}

{% block title %}Edit AutoEvaluation{% endblock %}

{% block body %}
    <h1>Edit AutoEvaluation</h1>


{% set externalLink = "https://ee-eu.kobotoolbox.org/x/3fgJy6k2" %}

{% if externalLink starts with 'http' %}
<a href="{{ externalLink }}" class="btn btn-primary" target="_blank">Voir Questionnaire sur kobo</a>

{% endif %}
<br>
<br>


  {{ form_start(form) }}
    <div class="container">

    <H4>A- IDENTIFICATION</H4>

  <div class="form-group">
        {{ form_row(form.A1, {'attr': {'class': 'form-control'}}) }}
    </div>

      <div class="form-group">
        {{ form_row(form.A5, {'attr': {'class': 'form-control'}}) }}
    </div>

    <div class="form-group">
        {{ form_row(form.A10, {'attr': {'class': 'form-control'}}) }}
    </div>

     <div class="form-group">
        {{ form_row(form.A10a, {'attr': {'class': 'form-control'}}) }}
    </div>
     <div class="form-group">
        {{ form_row(form.A23, {'attr': {'class': 'form-control'}}) }}
    </div>
   
    <div class="form-group">
        {{ form_row(form.A35, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A36) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A37) }}
    </div>
   
    <div class="form-group">
        {{ form_row(form.A39, {'attr': {'class': 'form-control'}}) }}
    </div>
    </BR>
    <H5>Succès (qualitatifs et quantitatifs avec indicateurs)</H5>
    <div class="form-group">
        {{ form_row(form.B1) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B2, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B3) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B4) }}
    </div>
    </BR>

    <H5>Echecs (qualitatifs et quantitatifs avec indicateurs)</H5>
    <div class="form-group">
        {{ form_row(form.B5) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B6) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B7) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B8) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B9) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B10) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B11) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B12) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B13) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B14) }}
    </div>
    <BR></BR>

    <H5>Obstacles (qualitatifs et quantitatifs avec indicateurs)</H5>
    <div class="form-group">
        {{ form_row(form.B15) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B16) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B17) }}
    </div>

    <H5>Auto-évaluation et contrôle</H5>
    <div class="form-group">
        {{ form_row(form.B18) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B19) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B20) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B21) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B22) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B23) }}
    </div>
    </BR>

    <H5>Interprétation de l'indicateur</H5>
    <div class="form-group">
        {{ form_row(form.B24) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B25) }}
    </div>
    <div class="form-group">
        {{ form_row(form.B26) }}
    </div>
    </BR>

    <H5>Coût du SE&KC</H5>
    <div class="form-group">
        {{ form_row(form.B27) }}
    </div>

     <button class="btn btn-success">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

    <a class="btn btn-warning" href="{{ path('app_auto_evaluation_index') }}">back to list</a>

    {{ include('auto_evaluation/_delete_form.html.twig') }}
{% endblock %}
