{% extends 'base.html.twig' %}

{% block title %}AutoEvaluation index{% endblock %}

{% block body %}
    <h1>AutoEvaluation index</h1>

    <table id="table_id" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Titre du projet</th>
                <th>Projet No.</th>
                <th>Nom de l’organisation</th>
                <th>Activités prévues avec leur numéro identification (OS.Résultat.Activité)</th>
                <th>Nouvelles activités amendées avec leur num.id. (OS.Résultat.Activité)</th>
                <th>Séance de :</th>
                <th>Date de séance</th>
              
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for auto_evaluation in auto_evaluations %}
            <tr>
                <td>{{ auto_evaluation.A1 }}</td>
                <td>{{ auto_evaluation.A10 }}</td>
                <td>{{ auto_evaluation.A35 }}</td>
                <td>{{ auto_evaluation.A36 }}</td>
                <td>{{ auto_evaluation.A37 }}</td>
                <td>{{ auto_evaluation.A38 }}</td>
                <td>{{ auto_evaluation.A39 }}</td>
                <td>
                   {#   <a href="{{ path('app_auto_evaluation_show', {'id': auto_evaluation.id}) }}">show</a> #}
                    <a href="{{ path('app_auto_evaluation_edit', {'id': auto_evaluation.id}) }}" class="btn btn-sm btn-success">Voir et Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="43">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {#  <a href="{{ path('app_auto_evaluation_new') }}">Create new</a> #}
{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  
<script type="text/javascript">
    $(document).ready( function () {
        $('#table_id').DataTable();
    });
</script>

{% endblock %}