{% extends 'base.html.twig' %}

{% block title %}SuiviEvaluation index{% endblock %}

{% block body %}
   
    <h1>Suivi Evaluation</h1>

    <table id="table_id"  class="table table-bordered table-hover">
        <thead>
            <tr>
              <th>Statut</th>
                <th>Projet No.</th>
                 <th>Région d'intervention</th>
                <th>Fonds</th>
                <th>Phases</th>
                <th>Paysages</th>
                <th>Domaine d'intervention</th>
                <th>Numero trimestre</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for suivi_evaluation in suivi_evaluations %}
            <tr>
              <td>
                    {% if suivi_evaluation.StatutFiche == '' %}
                     <button type="button" class="btn btn-warning">En cours</button>
                    {% elseif suivi_evaluation.StatutFiche == 1 %}
                     <button type="button" class="btn btn-danger">A vérifier</button>

                    {% elseif suivi_evaluation.StatutFiche == 2 %}
                    <button type="button" class="btn btn-success">Valider</button>
                    {% else %}
                        Autre cas (optionnel)
                    {% endif %}
                    </td>
              <td>{{ suivi_evaluation.A10 }}</td>
                 <td>{{ suivi_evaluation.A5 }}</td>
                <td>{{ suivi_evaluation.A11 }}</td>
                <td>{{ suivi_evaluation.A12 }}</td>
                <td>{{ suivi_evaluation.A13 }}</td>
                <td>{{ suivi_evaluation.A19 }}</td>
                <td>{{ suivi_evaluation.A35 }}</td>
               
                <td>
                  {#  <a href="{{ path('app_suivi_evaluation_show', {'id': suivi_evaluation.id}) }}">show</a> #}
                    <a href="{{ path('app_suivi_evaluation_edit', {'id': suivi_evaluation.id}) }}" class="btn btn-sm btn-success">Voir et Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="182">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

  {#  <a href="{{ path('app_suivi_evaluation_new') }}">Create new</a>  #}
{% endblock %}
{% block javascripts %}
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
  
<script type="text/javascript">
    $(document).ready( function () {
        $('#table_id').DataTable();
    });
</script>

{% endblock %}