{% extends 'base.html.twig' %}

{% block title %}SuiviEvaluation{% endblock %}

{% block body %}
    <h1>SuiviEvaluation</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ suivi_evaluation.id }}</td>
            </tr>
            <tr>
                <th>_id</th>
                <td>{{ suivi_evaluation.id }}</td>
            </tr>
            <tr>
                <th>Formhub_uuid</th>
                <td>{{ suivi_evaluation.formhubUuid }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ suivi_evaluation.start }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ suivi_evaluation.end }}</td>
            </tr>
            <tr>
                <th>Today</th>
                <td>{{ suivi_evaluation.today }}</td>
            </tr>
            <tr>
                <th>Deviceid</th>
                <td>{{ suivi_evaluation.deviceid }}</td>
            </tr>
            <tr>
                <th>A1</th>
                <td>{{ suivi_evaluation.A1 }}</td>
            </tr>
            <tr>
                <th>A2</th>
                <td>{{ suivi_evaluation.A2 }}</td>
            </tr>
            <tr>
                <th>A3</th>
                <td>{{ suivi_evaluation.A3 }}</td>
            </tr>
            <tr>
                <th>A4</th>
                <td>{{ suivi_evaluation.A4 }}</td>
            </tr>
            <tr>
                <th>A5</th>
                <td>{{ suivi_evaluation.A5 }}</td>
            </tr>
            <tr>
                <th>A6</th>
                <td>{{ suivi_evaluation.A6 }}</td>
            </tr>
            <tr>
                <th>A7</th>
                <td>{{ suivi_evaluation.A7 }}</td>
            </tr>
            <tr>
                <th>A8</th>
                <td>{{ suivi_evaluation.A8 }}</td>
            </tr>
            <tr>
                <th>A9</th>
                <td>{{ suivi_evaluation.A9 }}</td>
            </tr>
            <tr>
                <th>A10</th>
                <td>{{ suivi_evaluation.A10 }}</td>
            </tr>
            <tr>
                <th>A11</th>
                <td>{{ suivi_evaluation.A11 }}</td>
            </tr>
            <tr>
                <th>A12</th>
                <td>{{ suivi_evaluation.A12 }}</td>
            </tr>
            <tr>
                <th>A13</th>
                <td>{{ suivi_evaluation.A13 }}</td>
            </tr>
            <tr>
                <th>A14</th>
                <td>{{ suivi_evaluation.A14 }}</td>
            </tr>
            <tr>
                <th>A15</th>
                <td>{{ suivi_evaluation.A15 }}</td>
            </tr>
            <tr>
                <th>A16</th>
                <td>{{ suivi_evaluation.A16 }}</td>
            </tr>
            <tr>
                <th>A17</th>
                <td>{{ suivi_evaluation.A17 }}</td>
            </tr>
            <tr>
                <th>A18</th>
                <td>{{ suivi_evaluation.A18 }}</td>
            </tr>
            <tr>
                <th>A19</th>
                <td>{{ suivi_evaluation.A19 }}</td>
            </tr>
            <tr>
                <th>A20</th>
                <td>{{ suivi_evaluation.A20 }}</td>
            </tr>
            <tr>
                <th>A21</th>
                <td>{{ suivi_evaluation.A21 }}</td>
            </tr>
            <tr>
                <th>A22</th>
                <td>{{ suivi_evaluation.A22 }}</td>
            </tr>
            <tr>
                <th>A23</th>
                <td>{{ suivi_evaluation.A23 }}</td>
            </tr>
            <tr>
                <th>A24</th>
                <td>{{ suivi_evaluation.A24 }}</td>
            </tr>
            <tr>
                <th>A25</th>
                <td>{{ suivi_evaluation.A25 }}</td>
            </tr>
            <tr>
                <th>A26</th>
                <td>{{ suivi_evaluation.A26 }}</td>
            </tr>
            <tr>
                <th>A27</th>
                <td>{{ suivi_evaluation.A27 }}</td>
            </tr>
            <tr>
                <th>A28</th>
                <td>{{ suivi_evaluation.A28 }}</td>
            </tr>
            <tr>
                <th>A29</th>
                <td>{{ suivi_evaluation.A29 }}</td>
            </tr>
            <tr>
                <th>A30</th>
                <td>{{ suivi_evaluation.A30 }}</td>
            </tr>
            <tr>
                <th>A31</th>
                <td>{{ suivi_evaluation.A31 }}</td>
            </tr>
            <tr>
                <th>A32</th>
                <td>{{ suivi_evaluation.A32 }}</td>
            </tr>
            <tr>
                <th>B1</th>
                <td>{{ suivi_evaluation.B1 }}</td>
            </tr>
            <tr>
                <th>B2</th>
                <td>{{ suivi_evaluation.B2 }}</td>
            </tr>
            <tr>
                <th>B3</th>
                <td>{{ suivi_evaluation.B3 }}</td>
            </tr>
            <tr>
                <th>B4</th>
                <td>{{ suivi_evaluation.B4 }}</td>
            </tr>
            <tr>
                <th>B5</th>
                <td>{{ suivi_evaluation.B5 }}</td>
            </tr>
            <tr>
                <th>B6</th>
                <td>{{ suivi_evaluation.B6 }}</td>
            </tr>
            <tr>
                <th>B7</th>
                <td>{{ suivi_evaluation.B7 }}</td>
            </tr>
            <tr>
                <th>B8</th>
                <td>{{ suivi_evaluation.B8 }}</td>
            </tr>
            <tr>
                <th>B9</th>
                <td>{{ suivi_evaluation.B9 }}</td>
            </tr>
            <tr>
                <th>B10</th>
                <td>{{ suivi_evaluation.B10 }}</td>
            </tr>
            <tr>
                <th>B11</th>
                <td>{{ suivi_evaluation.B11 }}</td>
            </tr>
            <tr>
                <th>B12</th>
                <td>{{ suivi_evaluation.B12 }}</td>
            </tr>
            <tr>
                <th>B13</th>
                <td>{{ suivi_evaluation.B13 }}</td>
            </tr>
            <tr>
                <th>B14</th>
                <td>{{ suivi_evaluation.B14 }}</td>
            </tr>
            <tr>
                <th>B15</th>
                <td>{{ suivi_evaluation.B15 }}</td>
            </tr>
            <tr>
                <th>B16</th>
                <td>{{ suivi_evaluation.B16 }}</td>
            </tr>
            <tr>
                <th>B17</th>
                <td>{{ suivi_evaluation.B17 }}</td>
            </tr>
            <tr>
                <th>B18</th>
                <td>{{ suivi_evaluation.B18 }}</td>
            </tr>
            <tr>
                <th>B19</th>
                <td>{{ suivi_evaluation.B19 }}</td>
            </tr>
            <tr>
                <th>B20</th>
                <td>{{ suivi_evaluation.B20 }}</td>
            </tr>
            <tr>
                <th>B21</th>
                <td>{{ suivi_evaluation.B21 }}</td>
            </tr>
            <tr>
                <th>B22</th>
                <td>{{ suivi_evaluation.B22 }}</td>
            </tr>
            <tr>
                <th>B23</th>
                <td>{{ suivi_evaluation.B23 }}</td>
            </tr>
            <tr>
                <th>C1</th>
                <td>{{ suivi_evaluation.C1 }}</td>
            </tr>
            <tr>
                <th>C2</th>
                <td>{{ suivi_evaluation.C2 }}</td>
            </tr>
            <tr>
                <th>C3</th>
                <td>{{ suivi_evaluation.C3 }}</td>
            </tr>
            <tr>
                <th>C3a</th>
                <td>{{ suivi_evaluation.C3a }}</td>
            </tr>
            <tr>
                <th>C3b</th>
                <td>{{ suivi_evaluation.C3b }}</td>
            </tr>
            <tr>
                <th>C3c</th>
                <td>{{ suivi_evaluation.C3c }}</td>
            </tr>
            <tr>
                <th>C3d</th>
                <td>{{ suivi_evaluation.C3d }}</td>
            </tr>
            <tr>
                <th>C4</th>
                <td>{{ suivi_evaluation.C4 }}</td>
            </tr>
            <tr>
                <th>C5</th>
                <td>{{ suivi_evaluation.C5 }}</td>
            </tr>
            <tr>
                <th>C6</th>
                <td>{{ suivi_evaluation.C6 }}</td>
            </tr>
            <tr>
                <th>D1</th>
                <td>{{ suivi_evaluation.D1 }}</td>
            </tr>
            <tr>
                <th>D2</th>
                <td>{{ suivi_evaluation.D2 }}</td>
            </tr>
            <tr>
                <th>D3</th>
                <td>{{ suivi_evaluation.D3 }}</td>
            </tr>
            <tr>
                <th>D4</th>
                <td>{{ suivi_evaluation.D4 }}</td>
            </tr>
            <tr>
                <th>E1</th>
                <td>{{ suivi_evaluation.E1 }}</td>
            </tr>
            <tr>
                <th>E2</th>
                <td>{{ suivi_evaluation.E2 }}</td>
            </tr>
            <tr>
                <th>E3</th>
                <td>{{ suivi_evaluation.E3 }}</td>
            </tr>
            <tr>
                <th>F1</th>
                <td>{{ suivi_evaluation.F1 }}</td>
            </tr>
            <tr>
                <th>F2</th>
                <td>{{ suivi_evaluation.F2 }}</td>
            </tr>
            <tr>
                <th>F3</th>
                <td>{{ suivi_evaluation.F3 }}</td>
            </tr>
            <tr>
                <th>F4</th>
                <td>{{ suivi_evaluation.F4 }}</td>
            </tr>
            <tr>
                <th>F5</th>
                <td>{{ suivi_evaluation.F5 }}</td>
            </tr>
            <tr>
                <th>G1</th>
                <td>{{ suivi_evaluation.G1 }}</td>
            </tr>
            <tr>
                <th>G2</th>
                <td>{{ suivi_evaluation.G2 }}</td>
            </tr>
            <tr>
                <th>G3</th>
                <td>{{ suivi_evaluation.G3 }}</td>
            </tr>
            <tr>
                <th>G4</th>
                <td>{{ suivi_evaluation.G4 }}</td>
            </tr>
            <tr>
                <th>G5</th>
                <td>{{ suivi_evaluation.G5 }}</td>
            </tr>
            <tr>
                <th>G6</th>
                <td>{{ suivi_evaluation.G6 }}</td>
            </tr>
            <tr>
                <th>H1</th>
                <td>{{ suivi_evaluation.H1 }}</td>
            </tr>
            <tr>
                <th>H2</th>
                <td>{{ suivi_evaluation.H2 }}</td>
            </tr>
            <tr>
                <th>H3</th>
                <td>{{ suivi_evaluation.H3 }}</td>
            </tr>
            <tr>
                <th>H4</th>
                <td>{{ suivi_evaluation.H4 }}</td>
            </tr>
            <tr>
                <th>H5</th>
                <td>{{ suivi_evaluation.H5 }}</td>
            </tr>
            <tr>
                <th>H6</th>
                <td>{{ suivi_evaluation.H6 }}</td>
            </tr>
            <tr>
                <th>H7</th>
                <td>{{ suivi_evaluation.H7 }}</td>
            </tr>
            <tr>
                <th>H8</th>
                <td>{{ suivi_evaluation.H8 }}</td>
            </tr>
            <tr>
                <th>H9</th>
                <td>{{ suivi_evaluation.H9 }}</td>
            </tr>
            <tr>
                <th>H10</th>
                <td>{{ suivi_evaluation.H10 }}</td>
            </tr>
            <tr>
                <th>H11</th>
                <td>{{ suivi_evaluation.H11 }}</td>
            </tr>
            <tr>
                <th>H12</th>
                <td>{{ suivi_evaluation.H12 }}</td>
            </tr>
            <tr>
                <th>H13</th>
                <td>{{ suivi_evaluation.H13 }}</td>
            </tr>
            <tr>
                <th>H14</th>
                <td>{{ suivi_evaluation.H14 }}</td>
            </tr>
            <tr>
                <th>H15</th>
                <td>{{ suivi_evaluation.H15 }}</td>
            </tr>
            <tr>
                <th>H16</th>
                <td>{{ suivi_evaluation.H16 }}</td>
            </tr>
            <tr>
                <th>H17</th>
                <td>{{ suivi_evaluation.H17 }}</td>
            </tr>
            <tr>
                <th>H18</th>
                <td>{{ suivi_evaluation.H18 }}</td>
            </tr>
            <tr>
                <th>H19</th>
                <td>{{ suivi_evaluation.H19 }}</td>
            </tr>
            <tr>
                <th>H20</th>
                <td>{{ suivi_evaluation.H20 }}</td>
            </tr>
            <tr>
                <th>H21</th>
                <td>{{ suivi_evaluation.H21 }}</td>
            </tr>
            <tr>
                <th>H22</th>
                <td>{{ suivi_evaluation.H22 }}</td>
            </tr>
            <tr>
                <th>H23</th>
                <td>{{ suivi_evaluation.H23 }}</td>
            </tr>
            <tr>
                <th>H24</th>
                <td>{{ suivi_evaluation.H24 }}</td>
            </tr>
            <tr>
                <th>H25</th>
                <td>{{ suivi_evaluation.H25 }}</td>
            </tr>
            <tr>
                <th>H26</th>
                <td>{{ suivi_evaluation.H26 }}</td>
            </tr>
            <tr>
                <th>H27</th>
                <td>{{ suivi_evaluation.H27 }}</td>
            </tr>
            <tr>
                <th>H28</th>
                <td>{{ suivi_evaluation.H28 }}</td>
            </tr>
            <tr>
                <th>I1</th>
                <td>{{ suivi_evaluation.I1 }}</td>
            </tr>
            <tr>
                <th>I2</th>
                <td>{{ suivi_evaluation.I2 }}</td>
            </tr>
            <tr>
                <th>I3</th>
                <td>{{ suivi_evaluation.I3 }}</td>
            </tr>
            <tr>
                <th>I4</th>
                <td>{{ suivi_evaluation.I4 }}</td>
            </tr>
            <tr>
                <th>I5</th>
                <td>{{ suivi_evaluation.I5 }}</td>
            </tr>
            <tr>
                <th>I6</th>
                <td>{{ suivi_evaluation.I6 }}</td>
            </tr>
            <tr>
                <th>I7</th>
                <td>{{ suivi_evaluation.I7 }}</td>
            </tr>
            <tr>
                <th>I8</th>
                <td>{{ suivi_evaluation.I8 }}</td>
            </tr>
            <tr>
                <th>I9</th>
                <td>{{ suivi_evaluation.I9 }}</td>
            </tr>
            <tr>
                <th>I10</th>
                <td>{{ suivi_evaluation.I10 }}</td>
            </tr>
            <tr>
                <th>I11</th>
                <td>{{ suivi_evaluation.I11 }}</td>
            </tr>
            <tr>
                <th>I12</th>
                <td>{{ suivi_evaluation.I12 }}</td>
            </tr>
            <tr>
                <th>J1</th>
                <td>{{ suivi_evaluation.J1 }}</td>
            </tr>
            <tr>
                <th>J2</th>
                <td>{{ suivi_evaluation.J2 }}</td>
            </tr>
            <tr>
                <th>J3</th>
                <td>{{ suivi_evaluation.J3 }}</td>
            </tr>
            <tr>
                <th>J4</th>
                <td>{{ suivi_evaluation.J4 }}</td>
            </tr>
            <tr>
                <th>J5</th>
                <td>{{ suivi_evaluation.J5 }}</td>
            </tr>
            <tr>
                <th>J6</th>
                <td>{{ suivi_evaluation.J6 }}</td>
            </tr>
            <tr>
                <th>J7</th>
                <td>{{ suivi_evaluation.J7 }}</td>
            </tr>
            <tr>
                <th>J8</th>
                <td>{{ suivi_evaluation.J8 }}</td>
            </tr>
            <tr>
                <th>J9</th>
                <td>{{ suivi_evaluation.J9 }}</td>
            </tr>
            <tr>
                <th>J10</th>
                <td>{{ suivi_evaluation.J10 }}</td>
            </tr>
            <tr>
                <th>J11</th>
                <td>{{ suivi_evaluation.J11 }}</td>
            </tr>
            <tr>
                <th>J12</th>
                <td>{{ suivi_evaluation.J12 }}</td>
            </tr>
            <tr>
                <th>J13</th>
                <td>{{ suivi_evaluation.J13 }}</td>
            </tr>
            <tr>
                <th>J14</th>
                <td>{{ suivi_evaluation.J14 }}</td>
            </tr>
            <tr>
                <th>J15</th>
                <td>{{ suivi_evaluation.J15 }}</td>
            </tr>
            <tr>
                <th>J16</th>
                <td>{{ suivi_evaluation.J16 }}</td>
            </tr>
            <tr>
                <th>J17</th>
                <td>{{ suivi_evaluation.J17 }}</td>
            </tr>
            <tr>
                <th>J18</th>
                <td>{{ suivi_evaluation.J18 }}</td>
            </tr>
            <tr>
                <th>J19</th>
                <td>{{ suivi_evaluation.J19 }}</td>
            </tr>
            <tr>
                <th>J20</th>
                <td>{{ suivi_evaluation.J20 }}</td>
            </tr>
            <tr>
                <th>J21</th>
                <td>{{ suivi_evaluation.J21 }}</td>
            </tr>
            <tr>
                <th>J22</th>
                <td>{{ suivi_evaluation.J22 }}</td>
            </tr>
            <tr>
                <th>K1</th>
                <td>{{ suivi_evaluation.K1 }}</td>
            </tr>
            <tr>
                <th>K2</th>
                <td>{{ suivi_evaluation.K2 }}</td>
            </tr>
            <tr>
                <th>K3</th>
                <td>{{ suivi_evaluation.K3 }}</td>
            </tr>
            <tr>
                <th>K4</th>
                <td>{{ suivi_evaluation.K4 }}</td>
            </tr>
            <tr>
                <th>K5</th>
                <td>{{ suivi_evaluation.K5 }}</td>
            </tr>
            <tr>
                <th>K6</th>
                <td>{{ suivi_evaluation.K6 }}</td>
            </tr>
            <tr>
                <th>K7</th>
                <td>{{ suivi_evaluation.K7 }}</td>
            </tr>
            <tr>
                <th>K8</th>
                <td>{{ suivi_evaluation.K8 }}</td>
            </tr>
            <tr>
                <th>K8a</th>
                <td>{{ suivi_evaluation.K8a }}</td>
            </tr>
            <tr>
                <th>K8b</th>
                <td>{{ suivi_evaluation.K8b }}</td>
            </tr>
            <tr>
                <th>K9</th>
                <td>{{ suivi_evaluation.K9 }}</td>
            </tr>
            <tr>
                <th>K10</th>
                <td>{{ suivi_evaluation.K10 }}</td>
            </tr>
            <tr>
                <th>K11</th>
                <td>{{ suivi_evaluation.K11 }}</td>
            </tr>
            <tr>
                <th>K12</th>
                <td>{{ suivi_evaluation.K12 }}</td>
            </tr>
            <tr>
                <th>K13</th>
                <td>{{ suivi_evaluation.K13 }}</td>
            </tr>
            <tr>
                <th>K14</th>
                <td>{{ suivi_evaluation.K14 }}</td>
            </tr>
            <tr>
                <th>K15</th>
                <td>{{ suivi_evaluation.K15 }}</td>
            </tr>
            <tr>
                <th>K16</th>
                <td>{{ suivi_evaluation.K16 }}</td>
            </tr>
            <tr>
                <th>K17</th>
                <td>{{ suivi_evaluation.K17 }}</td>
            </tr>
            <tr>
                <th>K18</th>
                <td>{{ suivi_evaluation.K18 }}</td>
            </tr>
            <tr>
                <th>K19</th>
                <td>{{ suivi_evaluation.K19 }}</td>
            </tr>
            <tr>
                <th>K20</th>
                <td>{{ suivi_evaluation.K20 }}</td>
            </tr>
            <tr>
                <th>K21</th>
                <td>{{ suivi_evaluation.K21 }}</td>
            </tr>
            <tr>
                <th>K22</th>
                <td>{{ suivi_evaluation.K22 }}</td>
            </tr>
            <tr>
                <th>K23</th>
                <td>{{ suivi_evaluation.K23 }}</td>
            </tr>
            <tr>
                <th>K24</th>
                <td>{{ suivi_evaluation.K24 }}</td>
            </tr>
            <tr>
                <th>K25</th>
                <td>{{ suivi_evaluation.K25 }}</td>
            </tr>
            <tr>
                <th>K26</th>
                <td>{{ suivi_evaluation.K26 }}</td>
            </tr>
            <tr>
                <th>K27</th>
                <td>{{ suivi_evaluation.K27 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_suivi_evaluation_index') }}">back to list</a>

    <a href="{{ path('app_suivi_evaluation_edit', {'id': suivi_evaluation.id}) }}">edit</a>

    {{ include('suivi_evaluation/_delete_form.html.twig') }}
{% endblock %}
