{% extends 'base.html.twig' %}

{% block title %}CapitalisationPartII{% endblock %}

{% block body %}
    <h1>CapitalisationPartII</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ capitalisation_part_i_i.id }}</td>
            </tr>
            <tr>
                <th>_id</th>
                <td>{{ capitalisation_part_i_i.id }}</td>
            </tr>
            <tr>
                <th>Formhub_uuid</th>
                <td>{{ capitalisation_part_i_i.formhubUuid }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ capitalisation_part_i_i.start }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ capitalisation_part_i_i.end }}</td>
            </tr>
            <tr>
                <th>Today</th>
                <td>{{ capitalisation_part_i_i.today }}</td>
            </tr>
            <tr>
                <th>Deviceid</th>
                <td>{{ capitalisation_part_i_i.deviceid }}</td>
            </tr>
            <tr>
                <th>A1</th>
                <td>{{ capitalisation_part_i_i.A1 }}</td>
            </tr>
            <tr>
                <th>A10</th>
                <td>{{ capitalisation_part_i_i.A10 }}</td>
            </tr>
            <tr>
                <th>A11</th>
                <td>{{ capitalisation_part_i_i.A11 }}</td>
            </tr>
            <tr>
                <th>A12</th>
                <td>{{ capitalisation_part_i_i.A12 }}</td>
            </tr>
            <tr>
                <th>A13</th>
                <td>{{ capitalisation_part_i_i.A13 }}</td>
            </tr>
            <tr>
                <th>A19</th>
                <td>{{ capitalisation_part_i_i.A19 }}</td>
            </tr>
            <tr>
                <th>A33</th>
                <td>{{ capitalisation_part_i_i.A33 }}</td>
            </tr>
            <tr>
                <th>A34</th>
                <td>{{ capitalisation_part_i_i.A34 }}</td>
            </tr>
            <tr>
                <th>L1_1</th>
                <td>{{ capitalisation_part_i_i.L11 }}</td>
            </tr>
            <tr>
                <th>L1_13</th>
                <td>{{ capitalisation_part_i_i.L113 }}</td>
            </tr>
            <tr>
                <th>L3_1</th>
                <td>{{ capitalisation_part_i_i.L31 }}</td>
            </tr>
            <tr>
                <th>L3_2</th>
                <td>{{ capitalisation_part_i_i.L32 }}</td>
            </tr>
            <tr>
                <th>L3_3</th>
                <td>{{ capitalisation_part_i_i.L33 }}</td>
            </tr>
            <tr>
                <th>L3_4</th>
                <td>{{ capitalisation_part_i_i.L34 }}</td>
            </tr>
            <tr>
                <th>L3_5</th>
                <td>{{ capitalisation_part_i_i.L35 }}</td>
            </tr>
            <tr>
                <th>L3_6</th>
                <td>{{ capitalisation_part_i_i.L36 }}</td>
            </tr>
            <tr>
                <th>L3_7</th>
                <td>{{ capitalisation_part_i_i.L37 }}</td>
            </tr>
            <tr>
                <th>L3_8</th>
                <td>{{ capitalisation_part_i_i.L38 }}</td>
            </tr>
            <tr>
                <th>L3_9</th>
                <td>{{ capitalisation_part_i_i.L39 }}</td>
            </tr>
            <tr>
                <th>L3_10</th>
                <td>{{ capitalisation_part_i_i.L310 }}</td>
            </tr>
            <tr>
                <th>L3_11</th>
                <td>{{ capitalisation_part_i_i.L311 }}</td>
            </tr>
            <tr>
                <th>L3_11_autre</th>
                <td>{{ capitalisation_part_i_i.L311Autre }}</td>
            </tr>
            <tr>
                <th>L3_12</th>
                <td>{{ capitalisation_part_i_i.L312 }}</td>
            </tr>
            <tr>
                <th>L3_13</th>
                <td>{{ capitalisation_part_i_i.L313 }}</td>
            </tr>
            <tr>
                <th>L3_14</th>
                <td>{{ capitalisation_part_i_i.L314 }}</td>
            </tr>
            <tr>
                <th>L3_15</th>
                <td>{{ capitalisation_part_i_i.L315 }}</td>
            </tr>
            <tr>
                <th>L3_16</th>
                <td>{{ capitalisation_part_i_i.L316 }}</td>
            </tr>
            <tr>
                <th>L3_17</th>
                <td>{{ capitalisation_part_i_i.L317 }}</td>
            </tr>
            <tr>
                <th>L3_18</th>
                <td>{{ capitalisation_part_i_i.L318 }}</td>
            </tr>
            <tr>
                <th>L3_18_autre</th>
                <td>{{ capitalisation_part_i_i.L318Autre }}</td>
            </tr>
            <tr>
                <th>L3_19</th>
                <td>{{ capitalisation_part_i_i.L319 }}</td>
            </tr>
            <tr>
                <th>L3_20</th>
                <td>{{ capitalisation_part_i_i.L320 }}</td>
            </tr>
            <tr>
                <th>L3_21</th>
                <td>{{ capitalisation_part_i_i.L321 }}</td>
            </tr>
            <tr>
                <th>L3_22</th>
                <td>{{ capitalisation_part_i_i.L322 }}</td>
            </tr>
            <tr>
                <th>L3_22_autre</th>
                <td>{{ capitalisation_part_i_i.L322Autre }}</td>
            </tr>
            <tr>
                <th>L3_23</th>
                <td>{{ capitalisation_part_i_i.L323 }}</td>
            </tr>
            <tr>
                <th>L3_24</th>
                <td>{{ capitalisation_part_i_i.L324 }}</td>
            </tr>
            <tr>
                <th>L3_25</th>
                <td>{{ capitalisation_part_i_i.L325 }}</td>
            </tr>
            <tr>
                <th>L3_26</th>
                <td>{{ capitalisation_part_i_i.L326 }}</td>
            </tr>
            <tr>
                <th>L3_27</th>
                <td>{{ capitalisation_part_i_i.L327 }}</td>
            </tr>
            <tr>
                <th>L3_28</th>
                <td>{{ capitalisation_part_i_i.L328 }}</td>
            </tr>
            <tr>
                <th>L3_28_autre</th>
                <td>{{ capitalisation_part_i_i.L328Autre }}</td>
            </tr>
            <tr>
                <th>L3_29</th>
                <td>{{ capitalisation_part_i_i.L329 }}</td>
            </tr>
            <tr>
                <th>L3_30</th>
                <td>{{ capitalisation_part_i_i.L330 }}</td>
            </tr>
            <tr>
                <th>L3_31</th>
                <td>{{ capitalisation_part_i_i.L331 }}</td>
            </tr>
            <tr>
                <th>L3_32</th>
                <td>{{ capitalisation_part_i_i.L332 }}</td>
            </tr>
            <tr>
                <th>L3_33</th>
                <td>{{ capitalisation_part_i_i.L333 }}</td>
            </tr>
            <tr>
                <th>L3_34</th>
                <td>{{ capitalisation_part_i_i.L334 }}</td>
            </tr>
            <tr>
                <th>L3_35</th>
                <td>{{ capitalisation_part_i_i.L335 }}</td>
            </tr>
            <tr>
                <th>L3_36</th>
                <td>{{ capitalisation_part_i_i.L336 }}</td>
            </tr>
            <tr>
                <th>L3_37</th>
                <td>{{ capitalisation_part_i_i.L337 }}</td>
            </tr>
            <tr>
                <th>L3_38</th>
                <td>{{ capitalisation_part_i_i.L338 }}</td>
            </tr>
            <tr>
                <th>L3_39</th>
                <td>{{ capitalisation_part_i_i.L339 }}</td>
            </tr>
            <tr>
                <th>L3_40</th>
                <td>{{ capitalisation_part_i_i.L340 }}</td>
            </tr>
            <tr>
                <th>L3_41</th>
                <td>{{ capitalisation_part_i_i.L341 }}</td>
            </tr>
            <tr>
                <th>L3_42</th>
                <td>{{ capitalisation_part_i_i.L342 }}</td>
            </tr>
            <tr>
                <th>L3_43</th>
                <td>{{ capitalisation_part_i_i.L343 }}</td>
            </tr>
            <tr>
                <th>L3_44</th>
                <td>{{ capitalisation_part_i_i.L344 }}</td>
            </tr>
            <tr>
                <th>L3_45</th>
                <td>{{ capitalisation_part_i_i.L345 }}</td>
            </tr>
            <tr>
                <th>L3_46</th>
                <td>{{ capitalisation_part_i_i.L346 }}</td>
            </tr>
            <tr>
                <th>L3_47</th>
                <td>{{ capitalisation_part_i_i.L347 }}</td>
            </tr>
            <tr>
                <th>L3_48</th>
                <td>{{ capitalisation_part_i_i.L348 }}</td>
            </tr>
            <tr>
                <th>L3_49</th>
                <td>{{ capitalisation_part_i_i.L349 }}</td>
            </tr>
            <tr>
                <th>L3_50</th>
                <td>{{ capitalisation_part_i_i.L350 }}</td>
            </tr>
            <tr>
                <th>L3_51</th>
                <td>{{ capitalisation_part_i_i.L351 }}</td>
            </tr>
            <tr>
                <th>L3_52</th>
                <td>{{ capitalisation_part_i_i.L352 }}</td>
            </tr>
            <tr>
                <th>L3_53</th>
                <td>{{ capitalisation_part_i_i.L353 }}</td>
            </tr>
            <tr>
                <th>L3_54</th>
                <td>{{ capitalisation_part_i_i.L354 }}</td>
            </tr>
            <tr>
                <th>L3_55</th>
                <td>{{ capitalisation_part_i_i.L355 }}</td>
            </tr>
            <tr>
                <th>L3_55_autre</th>
                <td>{{ capitalisation_part_i_i.L355Autre }}</td>
            </tr>
            <tr>
                <th>L3_56</th>
                <td>{{ capitalisation_part_i_i.L356 }}</td>
            </tr>
            <tr>
                <th>L3_57</th>
                <td>{{ capitalisation_part_i_i.L357 }}</td>
            </tr>
            <tr>
                <th>L3_58</th>
                <td>{{ capitalisation_part_i_i.L358 }}</td>
            </tr>
            <tr>
                <th>L3_58_autre</th>
                <td>{{ capitalisation_part_i_i.L358Autre }}</td>
            </tr>
            <tr>
                <th>L3_59</th>
                <td>{{ capitalisation_part_i_i.L359 }}</td>
            </tr>
            <tr>
                <th>L3_60</th>
                <td>{{ capitalisation_part_i_i.L360 }}</td>
            </tr>
            <tr>
                <th>L3_61</th>
                <td>{{ capitalisation_part_i_i.L361 }}</td>
            </tr>
            <tr>
                <th>L3_62</th>
                <td>{{ capitalisation_part_i_i.L362 }}</td>
            </tr>
            <tr>
                <th>L3_63</th>
                <td>{{ capitalisation_part_i_i.L363 }}</td>
            </tr>
            <tr>
                <th>L3_64</th>
                <td>{{ capitalisation_part_i_i.L364 }}</td>
            </tr>
            <tr>
                <th>L3_65</th>
                <td>{{ capitalisation_part_i_i.L365 }}</td>
            </tr>
            <tr>
                <th>L3_66</th>
                <td>{{ capitalisation_part_i_i.L366 }}</td>
            </tr>
            <tr>
                <th>L3_67</th>
                <td>{{ capitalisation_part_i_i.L367 }}</td>
            </tr>
            <tr>
                <th>L3_68</th>
                <td>{{ capitalisation_part_i_i.L368 }}</td>
            </tr>
            <tr>
                <th>L3_68_autre</th>
                <td>{{ capitalisation_part_i_i.L368Autre }}</td>
            </tr>
            <tr>
                <th>L3_69</th>
                <td>{{ capitalisation_part_i_i.L369 }}</td>
            </tr>
            <tr>
                <th>L3_70</th>
                <td>{{ capitalisation_part_i_i.L370 }}</td>
            </tr>
            <tr>
                <th>L3_71</th>
                <td>{{ capitalisation_part_i_i.L371 }}</td>
            </tr>
            <tr>
                <th>L3_72</th>
                <td>{{ capitalisation_part_i_i.L372 }}</td>
            </tr>
            <tr>
                <th>L3_73</th>
                <td>{{ capitalisation_part_i_i.L373 }}</td>
            </tr>
            <tr>
                <th>L3_74</th>
                <td>{{ capitalisation_part_i_i.L374 }}</td>
            </tr>
            <tr>
                <th>L3_75</th>
                <td>{{ capitalisation_part_i_i.L375 }}</td>
            </tr>
            <tr>
                <th>L3_76</th>
                <td>{{ capitalisation_part_i_i.L376 }}</td>
            </tr>
            <tr>
                <th>L3_77</th>
                <td>{{ capitalisation_part_i_i.L377 }}</td>
            </tr>
            <tr>
                <th>L3_78</th>
                <td>{{ capitalisation_part_i_i.L378 }}</td>
            </tr>
            <tr>
                <th>L3_79</th>
                <td>{{ capitalisation_part_i_i.L379 }}</td>
            </tr>
            <tr>
                <th>L3_80</th>
                <td>{{ capitalisation_part_i_i.L380 }}</td>
            </tr>
            <tr>
                <th>L3_81</th>
                <td>{{ capitalisation_part_i_i.L381 }}</td>
            </tr>
            <tr>
                <th>L3_82</th>
                <td>{{ capitalisation_part_i_i.L382 }}</td>
            </tr>
            <tr>
                <th>L3_83</th>
                <td>{{ capitalisation_part_i_i.L383 }}</td>
            </tr>
            <tr>
                <th>L3_84</th>
                <td>{{ capitalisation_part_i_i.L384 }}</td>
            </tr>
            <tr>
                <th>L3_85</th>
                <td>{{ capitalisation_part_i_i.L385 }}</td>
            </tr>
            <tr>
                <th>L3_86</th>
                <td>{{ capitalisation_part_i_i.L386 }}</td>
            </tr>
            <tr>
                <th>L3_87</th>
                <td>{{ capitalisation_part_i_i.L387 }}</td>
            </tr>
            <tr>
                <th>L3_88</th>
                <td>{{ capitalisation_part_i_i.L388 }}</td>
            </tr>
            <tr>
                <th>L3_89</th>
                <td>{{ capitalisation_part_i_i.L389 }}</td>
            </tr>
            <tr>
                <th>L3_90</th>
                <td>{{ capitalisation_part_i_i.L390 }}</td>
            </tr>
            <tr>
                <th>L3_91</th>
                <td>{{ capitalisation_part_i_i.L391 }}</td>
            </tr>
            <tr>
                <th>L3_92</th>
                <td>{{ capitalisation_part_i_i.L392 }}</td>
            </tr>
            <tr>
                <th>L3_93</th>
                <td>{{ capitalisation_part_i_i.L393 }}</td>
            </tr>
            <tr>
                <th>L3_94</th>
                <td>{{ capitalisation_part_i_i.L394 }}</td>
            </tr>
            <tr>
                <th>L3_95</th>
                <td>{{ capitalisation_part_i_i.L395 }}</td>
            </tr>
            <tr>
                <th>L3_97</th>
                <td>{{ capitalisation_part_i_i.L397 }}</td>
            </tr>
            <tr>
                <th>L3_98</th>
                <td>{{ capitalisation_part_i_i.L398 }}</td>
            </tr>
            <tr>
                <th>L3_99</th>
                <td>{{ capitalisation_part_i_i.L399 }}</td>
            </tr>
            <tr>
                <th>L3_100</th>
                <td>{{ capitalisation_part_i_i.L3100 }}</td>
            </tr>
            <tr>
                <th>L3_101</th>
                <td>{{ capitalisation_part_i_i.L3101 }}</td>
            </tr>
            <tr>
                <th>L3_102</th>
                <td>{{ capitalisation_part_i_i.L3102 }}</td>
            </tr>
            <tr>
                <th>L3_103</th>
                <td>{{ capitalisation_part_i_i.L3103 }}</td>
            </tr>
            <tr>
                <th>L3_104</th>
                <td>{{ capitalisation_part_i_i.L3104 }}</td>
            </tr>
            <tr>
                <th>L3_105</th>
                <td>{{ capitalisation_part_i_i.L3105 }}</td>
            </tr>
            <tr>
                <th>L3_106</th>
                <td>{{ capitalisation_part_i_i.L3106 }}</td>
            </tr>
            <tr>
                <th>L3_107</th>
                <td>{{ capitalisation_part_i_i.L3107 }}</td>
            </tr>
            <tr>
                <th>L3_108</th>
                <td>{{ capitalisation_part_i_i.L3108 }}</td>
            </tr>
            <tr>
                <th>L3_109</th>
                <td>{{ capitalisation_part_i_i.L3109 }}</td>
            </tr>
            <tr>
                <th>L3_110</th>
                <td>{{ capitalisation_part_i_i.L3110 }}</td>
            </tr>
            <tr>
                <th>L3_111</th>
                <td>{{ capitalisation_part_i_i.L3111 }}</td>
            </tr>
            <tr>
                <th>L3_112</th>
                <td>{{ capitalisation_part_i_i.L3112 }}</td>
            </tr>
            <tr>
                <th>L3_113</th>
                <td>{{ capitalisation_part_i_i.L3113 }}</td>
            </tr>
            <tr>
                <th>L3_114</th>
                <td>{{ capitalisation_part_i_i.L3114 }}</td>
            </tr>
            <tr>
                <th>L3_115</th>
                <td>{{ capitalisation_part_i_i.L3115 }}</td>
            </tr>
            <tr>
                <th>L3_116</th>
                <td>{{ capitalisation_part_i_i.L3116 }}</td>
            </tr>
            <tr>
                <th>L3_117</th>
                <td>{{ capitalisation_part_i_i.L3117 }}</td>
            </tr>
            <tr>
                <th>L3_117_autre</th>
                <td>{{ capitalisation_part_i_i.L3117Autre }}</td>
            </tr>
            <tr>
                <th>L3_118</th>
                <td>{{ capitalisation_part_i_i.L3118 }}</td>
            </tr>
            <tr>
                <th>L3_119</th>
                <td>{{ capitalisation_part_i_i.L3119 }}</td>
            </tr>
            <tr>
                <th>L4_1</th>
                <td>{{ capitalisation_part_i_i.L41 }}</td>
            </tr>
            <tr>
                <th>L4_2</th>
                <td>{{ capitalisation_part_i_i.L42 }}</td>
            </tr>
            <tr>
                <th>L4_3</th>
                <td>{{ capitalisation_part_i_i.L43 }}</td>
            </tr>
            <tr>
                <th>L4_4</th>
                <td>{{ capitalisation_part_i_i.L44 }}</td>
            </tr>
            <tr>
                <th>L4_5</th>
                <td>{{ capitalisation_part_i_i.L45 }}</td>
            </tr>
            <tr>
                <th>L4_6</th>
                <td>{{ capitalisation_part_i_i.L46 }}</td>
            </tr>
            <tr>
                <th>L4_7</th>
                <td>{{ capitalisation_part_i_i.L47 }}</td>
            </tr>
            <tr>
                <th>L4_8</th>
                <td>{{ capitalisation_part_i_i.L48 }}</td>
            </tr>
            <tr>
                <th>L4_9</th>
                <td>{{ capitalisation_part_i_i.L49 }}</td>
            </tr>
            <tr>
                <th>L4_10</th>
                <td>{{ capitalisation_part_i_i.L410 }}</td>
            </tr>
            <tr>
                <th>L4_11</th>
                <td>{{ capitalisation_part_i_i.L411 }}</td>
            </tr>
            <tr>
                <th>L4_12</th>
                <td>{{ capitalisation_part_i_i.L412 }}</td>
            </tr>
            <tr>
                <th>L4_13</th>
                <td>{{ capitalisation_part_i_i.L413 }}</td>
            </tr>
            <tr>
                <th>L4_14</th>
                <td>{{ capitalisation_part_i_i.L414 }}</td>
            </tr>
            <tr>
                <th>L4_15</th>
                <td>{{ capitalisation_part_i_i.L415 }}</td>
            </tr>
            <tr>
                <th>L4_16</th>
                <td>{{ capitalisation_part_i_i.L416 }}</td>
            </tr>
            <tr>
                <th>L4_17</th>
                <td>{{ capitalisation_part_i_i.L417 }}</td>
            </tr>
            <tr>
                <th>L4_18</th>
                <td>{{ capitalisation_part_i_i.L418 }}</td>
            </tr>
            <tr>
                <th>L4_19</th>
                <td>{{ capitalisation_part_i_i.L419 }}</td>
            </tr>
            <tr>
                <th>L4_20</th>
                <td>{{ capitalisation_part_i_i.L420 }}</td>
            </tr>
            <tr>
                <th>L4_21</th>
                <td>{{ capitalisation_part_i_i.L421 }}</td>
            </tr>
            <tr>
                <th>L4_22</th>
                <td>{{ capitalisation_part_i_i.L422 }}</td>
            </tr>
            <tr>
                <th>L4_23</th>
                <td>{{ capitalisation_part_i_i.L423 }}</td>
            </tr>
            <tr>
                <th>L4_24</th>
                <td>{{ capitalisation_part_i_i.L424 }}</td>
            </tr>
            <tr>
                <th>L4_25</th>
                <td>{{ capitalisation_part_i_i.L425 }}</td>
            </tr>
            <tr>
                <th>L5_1</th>
                <td>{{ capitalisation_part_i_i.L51 }}</td>
            </tr>
            <tr>
                <th>L5_2</th>
                <td>{{ capitalisation_part_i_i.L52 }}</td>
            </tr>
            <tr>
                <th>L5_2_autre</th>
                <td>{{ capitalisation_part_i_i.L52Autre }}</td>
            </tr>
            <tr>
                <th>L5_3</th>
                <td>{{ capitalisation_part_i_i.L53 }}</td>
            </tr>
            <tr>
                <th>L6_1</th>
                <td>{{ capitalisation_part_i_i.L61 }}</td>
            </tr>
            <tr>
                <th>L6_2</th>
                <td>{{ capitalisation_part_i_i.L62 }}</td>
            </tr>
            <tr>
                <th>L6_3</th>
                <td>{{ capitalisation_part_i_i.L63 }}</td>
            </tr>
            <tr>
                <th>L6_4</th>
                <td>{{ capitalisation_part_i_i.L64 }}</td>
            </tr>
            <tr>
                <th>L6_5</th>
                <td>{{ capitalisation_part_i_i.L65 }}</td>
            </tr>
            <tr>
                <th>L6_6</th>
                <td>{{ capitalisation_part_i_i.L66 }}</td>
            </tr>
            <tr>
                <th>L7_1</th>
                <td>{{ capitalisation_part_i_i.L71 }}</td>
            </tr>
            <tr>
                <th>L8_1</th>
                <td>{{ capitalisation_part_i_i.L81 }}</td>
            </tr>
            <tr>
                <th>L8_2</th>
                <td>{{ capitalisation_part_i_i.L82 }}</td>
            </tr>
            <tr>
                <th>L8_3</th>
                <td>{{ capitalisation_part_i_i.L83 }}</td>
            </tr>
            <tr>
                <th>L9_1</th>
                <td>{{ capitalisation_part_i_i.L91 }}</td>
            </tr>
            <tr>
                <th>L9_2</th>
                <td>{{ capitalisation_part_i_i.L92 }}</td>
            </tr>
            <tr>
                <th>L9_3</th>
                <td>{{ capitalisation_part_i_i.L93 }}</td>
            </tr>
            <tr>
                <th>L9_4</th>
                <td>{{ capitalisation_part_i_i.L94 }}</td>
            </tr>
            <tr>
                <th>L9_5</th>
                <td>{{ capitalisation_part_i_i.L95 }}</td>
            </tr>
            <tr>
                <th>L9_6</th>
                <td>{{ capitalisation_part_i_i.L96 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_capitalisation_part_i_i_index') }}">back to list</a>

    <a href="{{ path('app_capitalisation_part_i_i_edit', {'id': capitalisation_part_i_i.id}) }}">edit</a>

    {{ include('capitalisation_part_ii/_delete_form.html.twig') }}
{% endblock %}
