{% extends 'base.html.twig' %}

{% block title %}IdentificationProjet{% endblock %}

{% block body %}
    <h1>Identification Projet</h1>

    <table class="table">
        <tbody>
            <h3>Identification</h3>

        
            <tr>
                <th>_id</th>
                <td>{{ identification_projet._id }}</td>
            </tr>
            <tr>
                <th>A1- Action principale du projet</th>
                <td>{{ identification_projet.A1 }}</td>
            </tr>
            <tr>
                <th>A2- Lieu d'implantation</th>
                <td>{{ identification_projet.A2 }}</td>
            </tr>
            <tr>
                <th>A3- Nom local des communautés bénéficiaires</th>
                <td>{{ identification_projet.A3 }}</td>
            </tr>
            <tr>
                <th>A4- Nom local des communautés bénéficiaires</th>
                <td>{{ identification_projet.A4 }}</td>
            </tr>
            <tr>
                <th>A5- Région d'intervention</th>
                <td>{{ identification_projet.A5 }}</td>
            </tr>
            <tr>
                <th>A6a- District d'intervention 1</th>
                <td>{{ identification_projet.A6a }}</td>
            </tr>
            <tr>
                <th>A6b- District d'intervention 2 </th>
                <td>{{ identification_projet.A6b }}</td>
            </tr>
            <tr>
                <th>A6c- District d'intervention 3</th>
                <td>{{ identification_projet.A6c }}</td>
            </tr>
            <tr>
                <th>A6d- District d'intervention 4</th>
                <td>{{ identification_projet.A6d }}</td>
            </tr>
            <tr>
                <th>A6e- District d'intervention 5</th>
                <td>{{ identification_projet.A6e }}</td>
            </tr>
            <tr>
                <th>A6f- District d'intervention 6</th>
                <td>{{ identification_projet.A6f }}</td>
            </tr>
            <tr>
                <th>A6g- District d'intervention 7</th>
                <td>{{ identification_projet.A6g }}</td>
            </tr>
            <tr>
                <th>A6h- District d'intervention 8</th>
                <td>{{ identification_projet.A6h }}</td>
            </tr>
            <tr>
                <th>A6i- District d'intervention 9</th>
                <td>{{ identification_projet.A6i }}</td>
            </tr>
            <tr>
                <th>A6j- District d'intervention 10 </th>
                <td>{{ identification_projet.A6j }}</td>
            </tr>
            <tr>
                <th>A7- Commune d'intervention</th>
                <td>{{ identification_projet.A7 }}</td>
            </tr>
            <tr>
                <th>A9- Date de soumission</th>
                <td>{{ identification_projet.A9 }}</td>
            </tr>
            <tr>
                <th>A10- Projet No.</th>
                <td>{{ identification_projet.A10 }}</td>
            </tr>
            <tr>
                <th>A11- Fonds</th>
                <td>{{ identification_projet.A11 }}</td>
            </tr>
            <tr>
                <th>A12- Phases</th>
                <td>{{ identification_projet.A12 }}</td>
            </tr>
            <tr>
                <th>A13- Paysages</th>
                <td>{{ identification_projet.A13 }}</td>
            </tr>
            <tr>
                <th>A13a- Si paysage potentiel, dans quels régions?</th>
                <td>{{ identification_projet.A13a }}</td>
            </tr>
            <tr>
                <th>A14- Sous-paysage</th>
                <td>{{ identification_projet.A14 }}</td>
            </tr>
            <tr>
                <th>A15- Date de signature MOA</th>
                <td>{{ identification_projet.A15 }}</td>
            </tr>
            <tr>
                <th>A16- Statut du projet</th>
                <td>{{ identification_projet.A16 }}</td>
            </tr>
            <tr>
                <th>A17- Date de début proposé</th>
                <td>{{ identification_projet.A17 }}</td>
            </tr>
            <tr>
                <th>A18- Durée prévue du projet</th>
                <td>{{ identification_projet.A18 }}</td>
            </tr>
            <tr>
                <th>A19- Domaine d'intervention</th>
                <td>{{ identification_projet.A19 }}</td>
            </tr>
            <tr>
                <th>A19a- Biodiversité : % touché par le projet ?</th>
                <td>{{ identification_projet.A19a }}</td>
            </tr>
            <tr>
                <th>A19b- Atténuation du changement climatique : % touché par le projet ?</th>
                <td>{{ identification_projet.A19b }}</td>
            </tr>
            <tr>
                <th>A19c- Dégradation des sols : % touché par le projet ?</th>
                <td>{{ identification_projet.A19c }}</td>
            </tr>
            <tr>
                <th>A19d- Gestion durable des forêts : % touché par le projet ?</th>
                <td>{{ identification_projet.A19d }}</td>
            </tr>
            <tr>
                <th>A19e- Eaux internationales : % touché par le projet ?</th>
                <td>{{ identification_projet.A19e }}</td>
            </tr>
            <tr>
                <th>A19f- Produits chimiques et déchets : % touché par le projet ?</th>
                <td>{{ identification_projet.A19f }}</td>
            </tr>
            <tr>
                <th>A19g- Développement des capacités : % touché par le projet ?</th>
                <td>{{ identification_projet.A19g }}</td>
            </tr>
            <tr>
                <th>A19h- Dialogue public- société civile : % touché par le projet ?</th>
                <td>{{ identification_projet.A19h }}</td>
            </tr>
            <tr>
                <th>A19i- Aire et patrimoine des peuples autochtones : % touché par le projet ?</th>
                <td>{{ identification_projet.A19i }}</td>
            </tr>
            <tr>
                <th>A20- Catégorie de projet</th>
                <td>{{ identification_projet.A20 }}</td>
            </tr>
            <tr>
                <th>A21- Coordonateur du projet : Homme ou femme?</th>
                <td>{{ identification_projet.A21 }}</td>
            </tr>
            <tr>
                <th>A22- Problématique à résoudre? (150 mots)</th>
                <td>{{ identification_projet.A22 }}</td>
            </tr>

            </tbody>
        </table>

        <table class="table">
        <tbody>

             <h3>Porteur du projet </h3>

            <tr>
                <th>A23- Nom de l'organisation</th>
                <td>{{ identification_projet.A23 }}</td>
            </tr>
            <tr>
                <th>A24- Année de création</th>
                <td>{{ identification_projet.A24 }}</td>
            </tr>
            <tr>
                <th>A25- Nombre de membres</th>
                <td>{{ identification_projet.A25 }}</td>
            </tr>
            <tr>
                <th>A26- Adresse physique</th>
                <td>{{ identification_projet.A26 }}</td>
            </tr>
            <tr>
                <th>A27- Téléphone</th>
                <td>{{ identification_projet.A27 }}</td>
            </tr>
            <tr> 
                <th>A28- E-mail</th>
                <td>{{ identification_projet.A28 }}</td>
            </tr>
            <tr>
                <th>A29- Nom du signataire</th>
                <td>{{ identification_projet.A29 }}</td>
            </tr>
            <tr>
                <th>A30- Fonction du signataire</th>
                <td>{{ identification_projet.A30 }}</td>
            </tr>
            <tr>
                <th>A31- Nom du contact</th>
                <td>{{ identification_projet.A31 }}</td>
            </tr>
            <tr>
                <th>A32- Fonction du contact</th>
                <td>{{ identification_projet.A32 }}</td>
            </tr>
            <tr>
                <th>A33-Qui est le garant du projet?</th>
                <td>{{ identification_projet.A33 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_identification_projet_index') }}">back to list</a>

    <a href="{{ path('app_identification_projet_edit', {'id': identification_projet.id}) }}">edit</a>

    {{ include('identification_projet/_delete_form.html.twig') }}
{% endblock %}
