{% extends 'base.html.twig' %}

{% block title %}Conception{% endblock %}

{% block body %}
    <h1>Conception</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ conception.id }}</td>
            </tr>
            <tr>
                <th>_id</th>
                <td>{{ conception.id }}</td>
            </tr>
            <tr>
                <th>Formhub_uuid</th>
                <td>{{ conception.formhubUuid }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ conception.start }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ conception.end }}</td>
            </tr>
            <tr>
                <th>Today</th>
                <td>{{ conception.today }}</td>
            </tr>
            <tr>
                <th>Deviceid</th>
                <td>{{ conception.deviceid }}</td>
            </tr>
            <tr>
                <th>A1</th>
                <td>{{ conception.A1 }}</td>
            </tr>
            <tr>
                <th>A2</th>
                <td>{{ conception.A2 }}</td>
            </tr>
            <tr>
                <th>A3</th>
                <td>{{ conception.A3 }}</td>
            </tr>
            <tr>
                <th>A4</th>
                <td>{{ conception.A4 }}</td>
            </tr>
            <tr>
                <th>A5</th>
                <td>{{ conception.A5 }}</td>
            </tr>
            <tr>
                <th>A6</th>
                <td>{{ conception.A6 }}</td>
            </tr>
            <tr>
                <th>A7</th>
                <td>{{ conception.A7 }}</td>
            </tr>
            <tr>
                <th>B1</th>
                <td>{{ conception.B1 }}</td>
            </tr>
            <tr>
                <th>B1a</th>
                <td>{{ conception.B1a }}</td>
            </tr>
            <tr>
                <th>B1b</th>
                <td>{{ conception.B1b }}</td>
            </tr>
            <tr>
                <th>B2</th>
                <td>{{ conception.B2 }}</td>
            </tr>
            <tr>
                <th>B2a</th>
                <td>{{ conception.B2a }}</td>
            </tr>
            <tr>
                <th>B2b</th>
                <td>{{ conception.B2b }}</td>
            </tr>
            <tr>
                <th>B3</th>
                <td>{{ conception.B3 }}</td>
            </tr>
            <tr>
                <th>B3a</th>
                <td>{{ conception.B3a }}</td>
            </tr>
            <tr>
                <th>B3b</th>
                <td>{{ conception.B3b }}</td>
            </tr>
            <tr>
                <th>C1</th>
                <td>{{ conception.C1 }}</td>
            </tr>
            <tr>
                <th>C1a</th>
                <td>{{ conception.C1a }}</td>
            </tr>
            <tr>
                <th>C1b</th>
                <td>{{ conception.C1b }}</td>
            </tr>
            <tr>
                <th>C1c</th>
                <td>{{ conception.C1c }}</td>
            </tr>
            <tr>
                <th>C2</th>
                <td>{{ conception.C2 }}</td>
            </tr>
            <tr>
                <th>C2a</th>
                <td>{{ conception.C2a }}</td>
            </tr>
            <tr>
                <th>C2b</th>
                <td>{{ conception.C2b }}</td>
            </tr>
            <tr>
                <th>D1</th>
                <td>{{ conception.D1 }}</td>
            </tr>
            <tr>
                <th>D1a</th>
                <td>{{ conception.D1a }}</td>
            </tr>
            <tr>
                <th>D1b</th>
                <td>{{ conception.D1b }}</td>
            </tr>
            <tr>
                <th>D2</th>
                <td>{{ conception.D2 }}</td>
            </tr>
            <tr>
                <th>D2a</th>
                <td>{{ conception.D2a }}</td>
            </tr>
            <tr>
                <th>D2b</th>
                <td>{{ conception.D2b }}</td>
            </tr>
            <tr>
                <th>D3</th>
                <td>{{ conception.D3 }}</td>
            </tr>
            <tr>
                <th>D3a</th>
                <td>{{ conception.D3a }}</td>
            </tr>
            <tr>
                <th>D3b</th>
                <td>{{ conception.D3b }}</td>
            </tr>
            <tr>
                <th>D4</th>
                <td>{{ conception.D4 }}</td>
            </tr>
            <tr>
                <th>D4a</th>
                <td>{{ conception.D4a }}</td>
            </tr>
            <tr>
                <th>D4b</th>
                <td>{{ conception.D4b }}</td>
            </tr>
            <tr>
                <th>D5</th>
                <td>{{ conception.D5 }}</td>
            </tr>
            <tr>
                <th>D5a</th>
                <td>{{ conception.D5a }}</td>
            </tr>
            <tr>
                <th>D5b</th>
                <td>{{ conception.D5b }}</td>
            </tr>
            <tr>
                <th>D6</th>
                <td>{{ conception.D6 }}</td>
            </tr>
            <tr>
                <th>D6a</th>
                <td>{{ conception.D6a }}</td>
            </tr>
            <tr>
                <th>D6b</th>
                <td>{{ conception.D6b }}</td>
            </tr>
            <tr>
                <th>E1</th>
                <td>{{ conception.E1 }}</td>
            </tr>
            <tr>
                <th>E1a</th>
                <td>{{ conception.E1a }}</td>
            </tr>
            <tr>
                <th>E1b</th>
                <td>{{ conception.E1b }}</td>
            </tr>
            <tr>
                <th>E2</th>
                <td>{{ conception.E2 }}</td>
            </tr>
            <tr>
                <th>E2a</th>
                <td>{{ conception.E2a }}</td>
            </tr>
            <tr>
                <th>E2b</th>
                <td>{{ conception.E2b }}</td>
            </tr>
            <tr>
                <th>E3</th>
                <td>{{ conception.E3 }}</td>
            </tr>
            <tr>
                <th>E3a</th>
                <td>{{ conception.E3a }}</td>
            </tr>
            <tr>
                <th>E3b</th>
                <td>{{ conception.E3b }}</td>
            </tr>
            <tr>
                <th>E4</th>
                <td>{{ conception.E4 }}</td>
            </tr>
            <tr>
                <th>E4a</th>
                <td>{{ conception.E4a }}</td>
            </tr>
            <tr>
                <th>E4b</th>
                <td>{{ conception.E4b }}</td>
            </tr>
            <tr>
                <th>F1</th>
                <td>{{ conception.F1 }}</td>
            </tr>
            <tr>
                <th>F1a</th>
                <td>{{ conception.F1a }}</td>
            </tr>
            <tr>
                <th>F1b</th>
                <td>{{ conception.F1b }}</td>
            </tr>
            <tr>
                <th>F2</th>
                <td>{{ conception.F2 }}</td>
            </tr>
            <tr>
                <th>F2a</th>
                <td>{{ conception.F2a }}</td>
            </tr>
            <tr>
                <th>F2b</th>
                <td>{{ conception.F2b }}</td>
            </tr>
            <tr>
                <th>F3</th>
                <td>{{ conception.F3 }}</td>
            </tr>
            <tr>
                <th>F3a</th>
                <td>{{ conception.F3a }}</td>
            </tr>
            <tr>
                <th>F3b</th>
                <td>{{ conception.F3b }}</td>
            </tr>
            <tr>
                <th>F4</th>
                <td>{{ conception.F4 }}</td>
            </tr>
            <tr>
                <th>F4a</th>
                <td>{{ conception.F4a }}</td>
            </tr>
            <tr>
                <th>F4b</th>
                <td>{{ conception.F4b }}</td>
            </tr>
            <tr>
                <th>F5</th>
                <td>{{ conception.F5 }}</td>
            </tr>
            <tr>
                <th>F5a</th>
                <td>{{ conception.F5a }}</td>
            </tr>
            <tr>
                <th>F5b</th>
                <td>{{ conception.F5b }}</td>
            </tr>
            <tr>
                <th>F6</th>
                <td>{{ conception.F6 }}</td>
            </tr>
            <tr>
                <th>F6a</th>
                <td>{{ conception.F6a }}</td>
            </tr>
            <tr>
                <th>F6b</th>
                <td>{{ conception.F6b }}</td>
            </tr>
            <tr>
                <th>G1</th>
                <td>{{ conception.G1 }}</td>
            </tr>
            <tr>
                <th>G1a</th>
                <td>{{ conception.G1a }}</td>
            </tr>
            <tr>
                <th>G1b</th>
                <td>{{ conception.G1b }}</td>
            </tr>
            <tr>
                <th>G2</th>
                <td>{{ conception.G2 }}</td>
            </tr>
            <tr>
                <th>G2a</th>
                <td>{{ conception.G2a }}</td>
            </tr>
            <tr>
                <th>G2b</th>
                <td>{{ conception.G2b }}</td>
            </tr>
            <tr>
                <th>H1</th>
                <td>{{ conception.H1 }}</td>
            </tr>
            <tr>
                <th>H1a</th>
                <td>{{ conception.H1a }}</td>
            </tr>
            <tr>
                <th>H1b</th>
                <td>{{ conception.H1b }}</td>
            </tr>
            <tr>
                <th>H2</th>
                <td>{{ conception.H2 }}</td>
            </tr>
            <tr>
                <th>H2a</th>
                <td>{{ conception.H2a }}</td>
            </tr>
            <tr>
                <th>H2b</th>
                <td>{{ conception.H2b }}</td>
            </tr>
            <tr>
                <th>H3</th>
                <td>{{ conception.H3 }}</td>
            </tr>
            <tr>
                <th>H3a</th>
                <td>{{ conception.H3a }}</td>
            </tr>
            <tr>
                <th>H3b</th>
                <td>{{ conception.H3b }}</td>
            </tr>
            <tr>
                <th>I1</th>
                <td>{{ conception.I1 }}</td>
            </tr>
            <tr>
                <th>I1a</th>
                <td>{{ conception.I1a }}</td>
            </tr>
            <tr>
                <th>I1b</th>
                <td>{{ conception.I1b }}</td>
            </tr>
            <tr>
                <th>I2</th>
                <td>{{ conception.I2 }}</td>
            </tr>
            <tr>
                <th>I2a</th>
                <td>{{ conception.I2a }}</td>
            </tr>
            <tr>
                <th>I2b</th>
                <td>{{ conception.I2b }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_conception_index') }}">back to list</a>

    <a href="{{ path('app_conception_edit', {'id': conception.id}) }}">edit</a>

    {{ include('conception/_delete_form.html.twig') }}
{% endblock %}
