{% extends 'base.html.twig' %}

{% block title %}Edit CapitalisationPartI{% endblock %}

{% block body %}
    <h1>Edit CapitalisationPartI</h1>
    {{ form_start(form) }}

        {% set externalLink = "https://ee-eu.kobotoolbox.org/x/2Q9YVdQ9" %}

{% if externalLink starts with 'http' %}
<a href="{{ externalLink }}" class="btn btn-primary" target="_blank">Voir Questionnaire sur kobo</a>

{% endif %}
<br>
<br>

 <div class="container">

    <H4>A- IDENTIFICATION</H4>


   <div class="form-group">
        {{ form_row(form.A1, {'attr': {'class': 'form-control'}}) }}
    </div>
     <div class="form-group">
        {{ form_row(form.A5, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A10, {'attr': {'class': 'form-control'}}) }}
    </div>
     <div class="form-group">
        {{ form_row(form.A10a, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A11, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A12, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A13, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A19, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A33, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A34, {'attr': {'class': 'form-control'}}) }}
    </div>
    <br></br>

    <H4>PARTIE L: BONNE PRATIQUE</H4>
    <H5>1. INFORMATIONS GENERALES SUR LA BONNE PRATIQUE </H5>
    <div class="form-group">
        {{ form_row(form.L1_1, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_2, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_3, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_4, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_5, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_6, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_7, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_8, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_9, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_9_autre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_10, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_11) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_11a, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_12) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_13, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_14) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_15) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_16) }}
    </div>

    <H4>PARTIE : BIODIVERSITE</H4>
    <div class="form-group">
        {{ form_row(form.L1_17, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_18, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_19, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_20, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_21, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_21_autre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_22, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_22_autre) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_23, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_23_autre) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_24, {'attr': {'class': 'form-control'}}) }}
    </div>

    <H4>PARTIE : CHANGEMENT CLIMATIQUE</H4>
    <div class="form-group">
        {{ form_row(form.L1_25a) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_25b) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_25c) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_25d) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_25e) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_25f) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_26a) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_26b) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_26c) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_27) }}
    </div>

    <H4>PARTIE : DEGRADATION DES SOLS</H4>
    <div class="form-group">
        {{ form_row(form.L1_28, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_29, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_30, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_31, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_32) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_33, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_34) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_35) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_36, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_37) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_38) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_39) }}
    </div>

    <H4>PARTIE : EAUX INTERNATIONALES</H4>
    <div class="form-group">
        {{ form_row(form.L1_40, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_41, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_42, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_43, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_44, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_45) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_46, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_47, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_48) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_49, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_49_autre, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_50, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_51) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_52, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_52_autre) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_53) }}
    </div>

    <H4>PARTIE : Pollution organiques / PRODUITS CHIMMIQUES ET DECHETS</H4>
    <div class="form-group">
        {{ form_row(form.L1_54) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_55) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_56) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_57, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_58, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_59, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_60, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_61) }}
    </div>
    <br>
    <H4>PARTIE : Dialogue public et société civile</H4>
    <div class="form-group">
        {{ form_row(form.L1_85) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_86) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_87) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_88) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_89) }}
    </div>
    <br>

    <H4>PARTIE : Aire et patrimoine des peuples autochtones</H4>
     <div class="form-group">
        {{ form_row(form.L1_90) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L1_91) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L1_92) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L1_93) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L1_94) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L1_95) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L1_96) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L1_98) }}
    </div>

    <H4>PARTIE : BIODIVERSITE</H4>
    <div class="form-group">
        {{ form_row(form.L1_62) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_63) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_64) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_65) }}
    </div>

    <H4>PARTIE : CHANGEMENT CLIMATIQUE</H4>
    <div class="form-group">
        {{ form_row(form.L1_66) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_67) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_68) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_68_autre) }}
    </div>

    <H4>PARTIE : DEGRADATION DES SOLS</H4>
    <div class="form-group">
        {{ form_row(form.L1_69) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_70) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_71) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_72) }}
    </div>

    <H4>PARTIE : EAUX INTERNATIONALES</H4>
    <div class="form-group">
        {{ form_row(form.L1_73) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_74) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_75) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_76) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_77) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_78) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_79) }}
    </div>

    <H4>PARTIE : Pollution organiques / PRODUITS CHIMMIQUES ET DECHETS</H4>
    <div class="form-group">
        {{ form_row(form.L1_80) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_81) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_82) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_83) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L1_84) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L1_100) }}
    </div>
    <br>

    <H4>2. RELATION ENTRE VIE COMMUNAUTAIRE ET LA BONNE PRATIQUE </H4>
    <div class="form-group">
        {{ form_row(form.L2_1) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_1_autre) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_2, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_3) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_4) }}
    </div>
    <br>
    <H4>PARTIE : Dialogue public et société civile</H4>
      <div class="form-group">
        {{ form_row(form.L2_16) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_17a) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_17b) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_17c) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_17d) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_5) }}
    </div>

    <br>
    <H4>PARTIE : Aire et patrimoine des peuples autochtones</H4>
      </div>
     <div class="form-group">
        {{ form_row(form.L2_18) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_19) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_20) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_21) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_6) }}
    </div>

    <H5>Description des problèmes confrontés par les communautés qui a entraîné à la naissance de la bonne pratique </H5>
    <div class="form-group">
        {{ form_row(form.L2_7) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_8) }}
    </div>

    <H5>Décrire les menaces si les bonnes pratiques n’ont pas été pratiques </H5>
    <div class="form-group">
        {{ form_row(form.L2_9) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_10) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_11) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_12) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_13) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_14) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L2_15) }}
    </div>

    <H4>PARTIE : Développement de capacité</H4>
     <div class="form-group">
        {{ form_row(form.L2_22) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_23) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_24) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_25) }}
    </div> <div class="form-group">
        {{ form_row(form.L2_26) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_27) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_28) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_29) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_30) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_31) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_32) }}
    </div>
    <br>

    <H4>PARTIE : Dialogue public et société civile </H4>
     <div class="form-group">
        {{ form_row(form.L2_33) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_34) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_35) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_36) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_37) }}
    </div>
    <br>

    <H5>PARTIE : Aire et patrimoine des peuples autochtones</H5>
     <div class="form-group">
        {{ form_row(form.L2_38) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_39) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_40) }}
    </div>
     <div class="form-group">
        {{ form_row(form.L2_41) }}
    </div>
    
      <button  class="btn btn-success">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}

    <a class="btn btn-warning" href="{{ path('app_capitalisation_part_i_index') }}">back to list</a>

    {{ include('capitalisation_part_i/_delete_form.html.twig') }}
{% endblock %}
