{% extends 'base.html.twig' %}

{% block title %}CapitalisationPartI{% endblock %}

{% block body %}
    <h1>CapitalisationPartI</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ capitalisation_part_i.id }}</td>
            </tr>
            <tr>
                <th>_id</th>
                <td>{{ capitalisation_part_i.id }}</td>
            </tr>
            <tr>
                <th>Formhub_uuid</th>
                <td>{{ capitalisation_part_i.formhubUuid }}</td>
            </tr>
            <tr>
                <th>Start</th>
                <td>{{ capitalisation_part_i.start }}</td>
            </tr>
            <tr>
                <th>End</th>
                <td>{{ capitalisation_part_i.end }}</td>
            </tr>
            <tr>
                <th>Today</th>
                <td>{{ capitalisation_part_i.today }}</td>
            </tr>
            <tr>
                <th>Deviceid</th>
                <td>{{ capitalisation_part_i.deviceid }}</td>
            </tr>
            <tr>
                <th>A1</th>
                <td>{{ capitalisation_part_i.A1 }}</td>
            </tr>
            <tr>
                <th>A10</th>
                <td>{{ capitalisation_part_i.A10 }}</td>
            </tr>
            <tr>
                <th>A11</th>
                <td>{{ capitalisation_part_i.A11 }}</td>
            </tr>
            <tr>
                <th>A12</th>
                <td>{{ capitalisation_part_i.A12 }}</td>
            </tr>
            <tr>
                <th>A13</th>
                <td>{{ capitalisation_part_i.A13 }}</td>
            </tr>
            <tr>
                <th>A19</th>
                <td>{{ capitalisation_part_i.A19 }}</td>
            </tr>
            <tr>
                <th>A33</th>
                <td>{{ capitalisation_part_i.A33 }}</td>
            </tr>
            <tr>
                <th>A34</th>
                <td>{{ capitalisation_part_i.A34 }}</td>
            </tr>
            <tr>
                <th>L1_1</th>
                <td>{{ capitalisation_part_i.L11 }}</td>
            </tr>
            <tr>
                <th>L1_2</th>
                <td>{{ capitalisation_part_i.L12 }}</td>
            </tr>
            <tr>
                <th>L1_3</th>
                <td>{{ capitalisation_part_i.L13 }}</td>
            </tr>
            <tr>
                <th>L1_4</th>
                <td>{{ capitalisation_part_i.L14 }}</td>
            </tr>
            <tr>
                <th>L1_5</th>
                <td>{{ capitalisation_part_i.L15 }}</td>
            </tr>
            <tr>
                <th>L1_6</th>
                <td>{{ capitalisation_part_i.L16 }}</td>
            </tr>
            <tr>
                <th>L1_7</th>
                <td>{{ capitalisation_part_i.L17 }}</td>
            </tr>
            <tr>
                <th>L1_8</th>
                <td>{{ capitalisation_part_i.L18 }}</td>
            </tr>
            <tr>
                <th>L1_9</th>
                <td>{{ capitalisation_part_i.L19 }}</td>
            </tr>
            <tr>
                <th>L1_9_autre</th>
                <td>{{ capitalisation_part_i.L19Autre }}</td>
            </tr>
            <tr>
                <th>L1_10</th>
                <td>{{ capitalisation_part_i.L110 }}</td>
            </tr>
            <tr>
                <th>L1_11</th>
                <td>{{ capitalisation_part_i.L111 }}</td>
            </tr>
            <tr>
                <th>L1_11a</th>
                <td>{{ capitalisation_part_i.L111a }}</td>
            </tr>
            <tr>
                <th>L1_12</th>
                <td>{{ capitalisation_part_i.L112 }}</td>
            </tr>
            <tr>
                <th>L1_13</th>
                <td>{{ capitalisation_part_i.L113 }}</td>
            </tr>
            <tr>
                <th>L1_14</th>
                <td>{{ capitalisation_part_i.L114 }}</td>
            </tr>
            <tr>
                <th>L1_15</th>
                <td>{{ capitalisation_part_i.L115 }}</td>
            </tr>
            <tr>
                <th>L1_16</th>
                <td>{{ capitalisation_part_i.L116 }}</td>
            </tr>
            <tr>
                <th>L1_17</th>
                <td>{{ capitalisation_part_i.L117 }}</td>
            </tr>
            <tr>
                <th>L1_18</th>
                <td>{{ capitalisation_part_i.L118 }}</td>
            </tr>
            <tr>
                <th>L1_19</th>
                <td>{{ capitalisation_part_i.L119 }}</td>
            </tr>
            <tr>
                <th>L1_20</th>
                <td>{{ capitalisation_part_i.L120 }}</td>
            </tr>
            <tr>
                <th>L1_21</th>
                <td>{{ capitalisation_part_i.L121 }}</td>
            </tr>
            <tr>
                <th>L1_21_autre</th>
                <td>{{ capitalisation_part_i.L121Autre }}</td>
            </tr>
            <tr>
                <th>L1_22</th>
                <td>{{ capitalisation_part_i.L122 }}</td>
            </tr>
            <tr>
                <th>L1_22_autre</th>
                <td>{{ capitalisation_part_i.L122Autre }}</td>
            </tr>
            <tr>
                <th>L1_23</th>
                <td>{{ capitalisation_part_i.L123 }}</td>
            </tr>
            <tr>
                <th>L1_24</th>
                <td>{{ capitalisation_part_i.L124 }}</td>
            </tr>
            <tr>
                <th>L1_25a</th>
                <td>{{ capitalisation_part_i.L125a }}</td>
            </tr>
            <tr>
                <th>L1_25b</th>
                <td>{{ capitalisation_part_i.L125b }}</td>
            </tr>
            <tr>
                <th>L1_25c</th>
                <td>{{ capitalisation_part_i.L125c }}</td>
            </tr>
            <tr>
                <th>L1_25d</th>
                <td>{{ capitalisation_part_i.L125d }}</td>
            </tr>
            <tr>
                <th>L1_25e</th>
                <td>{{ capitalisation_part_i.L125e }}</td>
            </tr>
            <tr>
                <th>L1_25f</th>
                <td>{{ capitalisation_part_i.L125f }}</td>
            </tr>
            <tr>
                <th>L1_26a</th>
                <td>{{ capitalisation_part_i.L126a }}</td>
            </tr>
            <tr>
                <th>L1_26b</th>
                <td>{{ capitalisation_part_i.L126b }}</td>
            </tr>
            <tr>
                <th>L1_26c</th>
                <td>{{ capitalisation_part_i.L126c }}</td>
            </tr>
            <tr>
                <th>L1_27</th>
                <td>{{ capitalisation_part_i.L127 }}</td>
            </tr>
            <tr>
                <th>L1_28</th>
                <td>{{ capitalisation_part_i.L128 }}</td>
            </tr>
            <tr>
                <th>L1_29</th>
                <td>{{ capitalisation_part_i.L129 }}</td>
            </tr>
            <tr>
                <th>L1_30</th>
                <td>{{ capitalisation_part_i.L130 }}</td>
            </tr>
            <tr>
                <th>L1_31</th>
                <td>{{ capitalisation_part_i.L131 }}</td>
            </tr>
            <tr>
                <th>L1_32</th>
                <td>{{ capitalisation_part_i.L132 }}</td>
            </tr>
            <tr>
                <th>L1_33</th>
                <td>{{ capitalisation_part_i.L133 }}</td>
            </tr>
            <tr>
                <th>L1_34</th>
                <td>{{ capitalisation_part_i.L134 }}</td>
            </tr>
            <tr>
                <th>L1_35</th>
                <td>{{ capitalisation_part_i.L135 }}</td>
            </tr>
            <tr>
                <th>L1_36</th>
                <td>{{ capitalisation_part_i.L136 }}</td>
            </tr>
            <tr>
                <th>L1_37</th>
                <td>{{ capitalisation_part_i.L137 }}</td>
            </tr>
            <tr>
                <th>L1_38</th>
                <td>{{ capitalisation_part_i.L138 }}</td>
            </tr>
            <tr>
                <th>L1_39</th>
                <td>{{ capitalisation_part_i.L139 }}</td>
            </tr>
            <tr>
                <th>L1_40</th>
                <td>{{ capitalisation_part_i.L140 }}</td>
            </tr>
            <tr>
                <th>L1_41</th>
                <td>{{ capitalisation_part_i.L141 }}</td>
            </tr>
            <tr>
                <th>L1_42</th>
                <td>{{ capitalisation_part_i.L142 }}</td>
            </tr>
            <tr>
                <th>L1_43</th>
                <td>{{ capitalisation_part_i.L143 }}</td>
            </tr>
            <tr>
                <th>L1_44</th>
                <td>{{ capitalisation_part_i.L144 }}</td>
            </tr>
            <tr>
                <th>L1_45</th>
                <td>{{ capitalisation_part_i.L145 }}</td>
            </tr>
            <tr>
                <th>L1_46</th>
                <td>{{ capitalisation_part_i.L146 }}</td>
            </tr>
            <tr>
                <th>L1_47</th>
                <td>{{ capitalisation_part_i.L147 }}</td>
            </tr>
            <tr>
                <th>L1_48</th>
                <td>{{ capitalisation_part_i.L148 }}</td>
            </tr>
            <tr>
                <th>L1_49</th>
                <td>{{ capitalisation_part_i.L149 }}</td>
            </tr>
            <tr>
                <th>L1_49_autre</th>
                <td>{{ capitalisation_part_i.L149Autre }}</td>
            </tr>
            <tr>
                <th>L1_50</th>
                <td>{{ capitalisation_part_i.L150 }}</td>
            </tr>
            <tr>
                <th>L1_51</th>
                <td>{{ capitalisation_part_i.L151 }}</td>
            </tr>
            <tr>
                <th>L1_52</th>
                <td>{{ capitalisation_part_i.L152 }}</td>
            </tr>
            <tr>
                <th>L1_52_autre</th>
                <td>{{ capitalisation_part_i.L152Autre }}</td>
            </tr>
            <tr>
                <th>L1_53</th>
                <td>{{ capitalisation_part_i.L153 }}</td>
            </tr>
            <tr>
                <th>L1_54</th>
                <td>{{ capitalisation_part_i.L154 }}</td>
            </tr>
            <tr>
                <th>L1_55</th>
                <td>{{ capitalisation_part_i.L155 }}</td>
            </tr>
            <tr>
                <th>L1_56</th>
                <td>{{ capitalisation_part_i.L156 }}</td>
            </tr>
            <tr>
                <th>L1_57</th>
                <td>{{ capitalisation_part_i.L157 }}</td>
            </tr>
            <tr>
                <th>L1_58</th>
                <td>{{ capitalisation_part_i.L158 }}</td>
            </tr>
            <tr>
                <th>L1_59</th>
                <td>{{ capitalisation_part_i.L159 }}</td>
            </tr>
            <tr>
                <th>L1_60</th>
                <td>{{ capitalisation_part_i.L160 }}</td>
            </tr>
            <tr>
                <th>L1_61</th>
                <td>{{ capitalisation_part_i.L161 }}</td>
            </tr>
            <tr>
                <th>L1_62</th>
                <td>{{ capitalisation_part_i.L162 }}</td>
            </tr>
            <tr>
                <th>L1_63</th>
                <td>{{ capitalisation_part_i.L163 }}</td>
            </tr>
            <tr>
                <th>L1_64</th>
                <td>{{ capitalisation_part_i.L164 }}</td>
            </tr>
            <tr>
                <th>L1_65</th>
                <td>{{ capitalisation_part_i.L165 }}</td>
            </tr>
            <tr>
                <th>L1_66</th>
                <td>{{ capitalisation_part_i.L166 }}</td>
            </tr>
            <tr>
                <th>L1_67</th>
                <td>{{ capitalisation_part_i.L167 }}</td>
            </tr>
            <tr>
                <th>L1_68</th>
                <td>{{ capitalisation_part_i.L168 }}</td>
            </tr>
            <tr>
                <th>L1_68_autre</th>
                <td>{{ capitalisation_part_i.L168Autre }}</td>
            </tr>
            <tr>
                <th>L1_69</th>
                <td>{{ capitalisation_part_i.L169 }}</td>
            </tr>
            <tr>
                <th>L1_70</th>
                <td>{{ capitalisation_part_i.L170 }}</td>
            </tr>
            <tr>
                <th>L1_71</th>
                <td>{{ capitalisation_part_i.L171 }}</td>
            </tr>
            <tr>
                <th>L1_72</th>
                <td>{{ capitalisation_part_i.L172 }}</td>
            </tr>
            <tr>
                <th>L1_73</th>
                <td>{{ capitalisation_part_i.L173 }}</td>
            </tr>
            <tr>
                <th>L1_74</th>
                <td>{{ capitalisation_part_i.L174 }}</td>
            </tr>
            <tr>
                <th>L1_75</th>
                <td>{{ capitalisation_part_i.L175 }}</td>
            </tr>
            <tr>
                <th>L1_76</th>
                <td>{{ capitalisation_part_i.L176 }}</td>
            </tr>
            <tr>
                <th>L1_77</th>
                <td>{{ capitalisation_part_i.L177 }}</td>
            </tr>
            <tr>
                <th>L1_78</th>
                <td>{{ capitalisation_part_i.L178 }}</td>
            </tr>
            <tr>
                <th>L1_79</th>
                <td>{{ capitalisation_part_i.L179 }}</td>
            </tr>
            <tr>
                <th>L1_80</th>
                <td>{{ capitalisation_part_i.L180 }}</td>
            </tr>
            <tr>
                <th>L1_81</th>
                <td>{{ capitalisation_part_i.L181 }}</td>
            </tr>
            <tr>
                <th>L1_82</th>
                <td>{{ capitalisation_part_i.L182 }}</td>
            </tr>
            <tr>
                <th>L1_83</th>
                <td>{{ capitalisation_part_i.L183 }}</td>
            </tr>
            <tr>
                <th>L1_84</th>
                <td>{{ capitalisation_part_i.L184 }}</td>
            </tr>
            <tr>
                <th>L2_1</th>
                <td>{{ capitalisation_part_i.L21 }}</td>
            </tr>
            <tr>
                <th>L2_1_autre</th>
                <td>{{ capitalisation_part_i.L21Autre }}</td>
            </tr>
            <tr>
                <th>L2_2</th>
                <td>{{ capitalisation_part_i.L22 }}</td>
            </tr>
            <tr>
                <th>L2_3</th>
                <td>{{ capitalisation_part_i.L23 }}</td>
            </tr>
            <tr>
                <th>L2_4</th>
                <td>{{ capitalisation_part_i.L24 }}</td>
            </tr>
            <tr>
                <th>L2_5</th>
                <td>{{ capitalisation_part_i.L25 }}</td>
            </tr>
            <tr>
                <th>L2_6</th>
                <td>{{ capitalisation_part_i.L26 }}</td>
            </tr>
            <tr>
                <th>L2_7</th>
                <td>{{ capitalisation_part_i.L27 }}</td>
            </tr>
            <tr>
                <th>L2_8</th>
                <td>{{ capitalisation_part_i.L28 }}</td>
            </tr>
            <tr>
                <th>L2_9</th>
                <td>{{ capitalisation_part_i.L29 }}</td>
            </tr>
            <tr>
                <th>L2_10</th>
                <td>{{ capitalisation_part_i.L210 }}</td>
            </tr>
            <tr>
                <th>L2_11</th>
                <td>{{ capitalisation_part_i.L211 }}</td>
            </tr>
            <tr>
                <th>L2_12</th>
                <td>{{ capitalisation_part_i.L212 }}</td>
            </tr>
            <tr>
                <th>L2_13</th>
                <td>{{ capitalisation_part_i.L213 }}</td>
            </tr>
            <tr>
                <th>L2_14</th>
                <td>{{ capitalisation_part_i.L214 }}</td>
            </tr>
            <tr>
                <th>L2_15</th>
                <td>{{ capitalisation_part_i.L215 }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_capitalisation_part_i_index') }}">back to list</a>

    <a href="{{ path('app_capitalisation_part_i_edit', {'id': capitalisation_part_i.id}) }}">edit</a>

    {{ include('capitalisation_part_i/_delete_form.html.twig') }}
{% endblock %}
