{% extends 'base.html.twig' %}

{% block title %}New CapitalisationPartIII{% endblock %}

{% block body %}
    <h1>Create new CapitalisationPartIII</h1>

<div class="container">

    <H4>A- IDENTIFICATION</H4>


<div class="form-group">


    <div class="form-group">
        {{ form_row(form.A1, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A10, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A11, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A12, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A13, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A19, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A33, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.A34, {'attr': {'class': 'form-control'}}) }}
    </div>

<H4>PARTIE L: BONNE PRATIQUE</H4>
    <div class="form-group">
        {{ form_row(form.L1_1, {'attr': {'class': 'form-control'}}) }}
    </div>

    <H4>10. ILLUSTRATIONS</H4>
    <div class="form-group">
        {{ form_row(form.L10_1, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L10_2, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L10_3, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L10_4, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L10_5, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_row(form.L10_6, {'attr': {'class': 'form-control'}}) }}
    </div>

    <button class="btn">{{ button_label|default('Save') }}</button>

        {{ form_end(form) }}


    <a href="{{ path('app_capitalisation_part_i_i_i_index') }}">back to list</a>
{% endblock %}
