{% extends 'base.html.twig' %}

{% block title %}Edit UserSimple{% endblock %}

{% block body %}
   <div class="container">
    <h1>edit Person</h1>
      {{ form_start(form) }}
                    {{ form_row(form.nom) }}
                    {{ form_row(form.prenom) }}
                    {{ form_row(form.province) }}
                    {{ form_row(form.region) }}
                    {{ form_row(form.district) }}
                    {{ form_row(form.commune) }}
        <button type="submit" class="btn btn-primary">Editer</button>
    {{ form_end(form) }}

</div>

{% endblock %}

{% block javascripts %}
            {{ parent() }}
      <script type="text/javascript" src="{{ asset('js/user.js') }}"></script>
{% endblock %}