{% extends 'base.html.twig' %}

{% block title %}UserSimple index{% endblock %}

{% block body %}
<div class="container">
    <h1>UserSimple index</h1>

    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Commune</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user_simple in user_simples %}
            <tr>
                <td>{{ user_simple.id }}</td>
                <td>{{ user_simple.nom }}</td>
                <td>{{ user_simple.prenom }}</td>
                <td>{{ user_simple.commune }}</td>

                <td>
                    <a href="{{ path('app_user_simple_show', {'id': user_simple.id}) }}" class="btn btn-success">Show</a>
                    <a href="{{ path('app_user_simple_edit', {'id': user_simple.id}) }}" class="btn btn-primary">Edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_user_simple_new') }}" class="btn btn-success">Create New</a>
</div>
{% endblock %}
